<!-- room.html -->
<!-- Videos -->
<div class="row">
  <div class="bigVideo col s12 m8 l8">
   <video id="localVideo"></video>
  </div>

  <!-- Video function button -->
  <div class="fixed-action-btn" style="bottom: 0; right: initial;">
    <a class="btn-floating btn-large red">
     <i class="large material-icons">menu</i>
    </a>
    <ul>
      <li><a ng-click="videoFullScreen()" class="btn-floating yellow darken-1"><i class="material-icons" id="fullscreen" fullScreenMode="disabled">aspect_ratio</i></a></li>
     <li><a ng-click="videoMute()" class="btn-floating green"><i class="material-icons" id="offCam" videoMute="disabled">videocam_off</i></a></li>
      <li><a ng-click="audioMute()" class="btn-floating blue"><i class="material-icons" id="audio" audioMute="disabled">volume_mute</i></a></li>
    </ul>
  </div>

  <!-- Chatroom -->
  <div class="chat" ng-controller="chatController">
   <table class="white col s6 m4 l4" id="chatWindow" style="z-index: 2;">
     <tbody id="tableBody" style="max-height:0">
      <tr ng-repeat="message in messages track by $index">
        <td ng-if="message.type=='me'" class="cyan-text"><span class="chatFont" style="font-weight:bold">{{message.user}}</span> <br> {{message.content}}</td>
        <td ng-if="message.type=='others'" class="black-text"><span class="chatFont" style="font-weight:bold">{{message.user}}</span> <br> {{message.content}}</td>
        <td ng-if="message.type=='join'" class="black-text">{{message.content}}</td>
        <td ng-if="message.type=='leave'" class="black-text">{{message.content}}</td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td>
          <div class="input-field">
            <input ng-enter="sendMessage()" id="chatInput" type="text">
            <label for="chatInput">Enter your message here</label>
          </div>
        </td>
      </tr>
      </tfoot>
    </table>
    <a class="waves-effect waves-light btn col s6 m4 l4" id="chatButton"><i class="material-icons right">chat_bubble</i>Chat</a>
  </div>
  </div>